<h2>amarriner.com</h2>

<hr>

<div id="sub" class="text-muted">
    <div>
        <span class="fa fa-calendar" aria-hidden="true"></span>
            December 04, 2014       
    </div>    
</div>

<div id="main">
    <p>Welcome to my little slice of the web. This domain and the original hosting for it was obtained circa 2000-2001. Eventually I had less and less time to update and work on the site due to real life encroaching. As such, 99% of the pages located herein are extremely out of date and use very old tech. The main purpose was a way for me to learn about web technologies and maintain a variety of games played via the site. There were mainly two types of games I worked on: Play By Email (PBEM) and Play By Web (PBW). PBEM were usually board games that I would play in and post results of turns to the site as a way of archiving and general interest. The PBW games were either board/card games or video game ports that would allow players to play against each other.</p>

    <p>I’m updating the homepage because I still actively use the domain for a lot of secondary purposes and there are still some people who use a few of the tools available here. However, the old page was so bad I felt it needed a little refresher. These days I don’t generally post much to this site proper, but I still think it’s important to hold this page. Generally I’m posting to a variety of other sites and social services as they do what I had originally wanted to do far better and I don’t have time to do that stuff myself anymore anyway.</p>

    <p>Mostly I just write <a href="#/bots">Twitter bots</a> these days.</p>

</div>

<hr>