<h2>Spelunky</h2>

<hr>

<div id="sub" class="text-muted">
    <div>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        December 05, 2014 
        &nbsp;<i class="fa fa-tags" aria-hidden="true"></i>&nbsp;
                        games
    </div>
</div>

<div id="main">
    <p><a href="http://spelunkyworld.com/">Spelunky</a> is a randomly generated platforming video game. It was <a href="http://spelunkyworld.com/original.html">originally</a> a free PC game that was eventually updated and the new version released for sale on consoles and again on PC. It's one of my favorite games. The random parts fit together extremely well and it feels like a unique adventure every time. There are a lot of compelling secrets hidden away that the player might never experience especially given that it's quite difficult. It offers a very rewarding feeling, though, when those secrets are unearthed and the player's skills improve. Not really sure why I'm including a page on this other than I think it's a fantastic game!</p>

    <h3 id="daily-challenge">Daily Challenge</h3>

    <p>In 2013-2014 I fell into a deep hole with Spelunky and more specifically the Daily Challenge. As I said before, it's a randomly generated game, but each run is based on a seed value. The Daily Challenge gives everyone the ability to play the same seed one (and only one) time on a given day and compare their results with others. It's very addictive, especially if you have friends to compete against. Like many others, I took to <a href="https://www.youtube.com/playlist?list=PLiksjsONaDi0J42IijOdUq76goaZHtCNm">recording and narrating my Daily Challenges for a while</a>.</p>

    <p>Most (if not all) of my scores are archived at <a href="http://spelunkyexplorers.com/player?steamid=76561198001166862">Spelunky Explorers</a>.</p>

    <h3 id="co-op">Co-Op</h3>

    <p>Around the same time, since I was super into the game, I tried to convince my girlfriend (<a href="https://twitter.com/beatiediehl">@beatiediehl</a>) to play and she got pretty hooked as well! We had designs on doing a series of videos where we played together and while that didn't last long we did do a few. <a href="https://www.youtube.com/playlist?list=PLiksjsONaDi3zS-45O03TqoqxqbtUDXnJ">Our silly, bumbling runs</a> produced some fun moments, though!</p>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="//www.youtube.com/embed/QvdrCS9VgKI?list=PLiksjsONaDi3zS-45O03TqoqxqbtUDXnJ"  allowfullscreen=""></iframe>
    </div>

    <h3 id="bot">Bot</h3>

    <p><a href="http://amarriner.com/bots.html">As I've mentioned elsewhere</a>, I like Twitter bots. One of the first ones was about Spelunky. While I was deep into the Daily Challenge, two people in the games industry were also doing the dailies and streaming their runs. <a href="https://twitter.com/patrickklepek">Patrick Klepek</a> and <a href="https://twitter.com/chrisremo">Chris Remo</a> got into a light-hearted "fued" of sorts (unbeknownst to Remo, initially!) to see who would have the better run on a given day. I thought it would be fun to track the results and thus <a href="https://twitter.com/KlepekVsRemo">@KlepekVsRemo</a> was born. They've since stopped played, of course, but for a time this was a fun way to keep track of their runs. As of this writing this is my most followed bot. Originally it just posted their scores as text, but eventually I built some images into it.</p>

    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">On 04/01/2014 Patrick Klepek ($26000) defeated Chris Remo ($15400)! <a href="https://twitter.com/hashtag/BeatRemo?src=hash">#BeatRemo</a> <a href="https://twitter.com/hashtag/Spelunky?src=hash">#Spelunky</a> <a href="http://t.co/pcbAmHfeZ8">pic.twitter.com/pcbAmHfeZ8</a></p>&mdash; KlepekVsRemo (@KlepekVsRemo) <a href="https://twitter.com/KlepekVsRemo/status/451020001206472706">April 1, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <h3 id="bests">Bests</h3>
    <hr />

    <p>I played this game so much that I eventually got pretty decent at it. A few highlights:</p>

    <ul>
        <li><a href="https://twitter.com/amarriner/status/428752144770949120">Broke a million in score</a> a couple times</li>
        <li><a href="https://www.youtube.com/playlist?list=PLiksjsONaDi2Nbbtg-aIniidbO7mE0ahO">Beat the game</a> a bunch of times (both bosses sometimes)</li>
        <li><a href="http://steamcommunity.com/sharedfiles/filedetails/?id=216092865">Fun way to kill the Shopkeeper</a></li>
    </ul>

    <h3 id="fun-links">Fun Links</h3>

    <ul>
        <li><a href="https://twitter.com/tinysubversions">Darius Kazemi</a> wrote a <a href="http://tinysubversions.com/spelunkyGen/">two part article</a> about how Spelunky generates its levels</li>
        <li><a href="https://twitter.com/tinysubversions">Darius Kazemi</a> <strong>also</strong> ported the <a href="http://tinysubversions.com/game/spelunky/">original Spelunky to HTML 5</a> which means you can play it in a browser</li>
        <li><a href="http://deadspelunkers.tumblr.com/post/74389056379/ounya-vsdfq">Dead Spelunkers</a> by <a href="https://twitter.com/boodooperson">Joel McCoy</a> searches YouTube for Spelunky runs, and strips out the deaths</li>
        <li><a href="http://deathroulette.sparklinlabs.com/">Spelunky Death Roulette</a> is a place where people can stream Spelunky and viewers can make fake bets based on how the streamer will die</li>
        <li><a href="http://www.twitch.tv/spelunkyleagueracing">Spelunky Racing League</a> runs tournaments for people to race against each other to see who can beat the game the fastest</li>
    </ul>

</div>

<hr class="bottom-line">
